<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="course" #course="ngModelGroup">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input required minlength="5" ngModel name="course" #course="ngModel" (change)="onChange(course)" class="form-control">
      <div *ngIf="course.touched && !course.valid">
        <div class="alert alert-danger">5 characters minimum</div>
      </div>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" ngModel name="category" #category="ngModel" (change)="onChange(category)">
        <option *ngFor="let category of categories">{{ category.name }}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <input type="checkbox" ngModel name="isChecked">30 Day Guarantee
  </div>

  <p>{{ f.value | json }}</p>
</form>